.settings-main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centraliza verticalmente */
    height: 100vh;
}

.circulo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #3498db;
    margin-bottom: 24px;
}

.settings_list_items{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 300px;
}

.row_item_settings{
    width: 300px;
    background: rgb(233, 233, 233);
    border-radius: 8px;
}

.row_item_settings_label{
    font-size: 16px;
    font-weight: 500;
}

.row_item_settings_label:hover{
    cursor: pointer;
}

.back_to_dashboard_button_setting:hover{
    cursor: pointer;
}

.settings_row_buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.settings_spacing_between_form_and_buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15vh;
}

.settings_subtitle{
    width: 300px;
    font-weight: 500;
    text-align: center;
}